{% extends "base_tailwind.html" %}
{% block page_header %}
{% set page_header_title = "Manajemen Data" %}
{% set page_header_description = "Kelola data BPS melalui operasi CRUD (Create, Read, Update, Delete) secara langsung." %}
{% set page_header_actions %}
<a href="{{ url_for('preview_data') }}" class="btn btn-outline btn-primary">Lihat Pratinjau</a>
<a href="{{ url_for('upload_data') }}" class="btn btn-ghost">Tambah via Unggah</a>
{% endset %}
{{ super() }}
{% endblock %}
{% block content %}
{% include "partials/_management_filters.html" %}
{% include "partials/_management_insert_form.html" %}
{% include "partials/_management_table.html" %}
{% include "partials/_management_bulk_modal.html" %}
{% include "partials/_script_management_bulk_actions.html" %}
{% endblock %}
